* {
    font-family: europa,sans-serif;
    color: inherit;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    margin: 0;
    line-height: inherit;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    font-family: eurostile,sans-serif;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.contenedor-contacto {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
}
.texto-contacto {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: eurostile,sans-serif;
    cursor: default;
    margin: 0;
}
.boton-contacto {
    border-width: 2px;
    border: 2px solid #3c81f6;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity));
    cursor: pointer;
    border-radius: 9999px;
}
.contenedor-inspira {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.texto-cargo {
    background: linear-gradient(270deg,#374251 13%,#3c81f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.5rem;
    line-height: 2.25rem;
    padding-bottom: 0.25rem;
    font-weight: 800;
    font-size: 50px;
}
@media (max-width: 1200px) {
    .texto-cargo {
        font-size: 40px;
    }
}
.texto-inspira {
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0;
}
.foto {
    width: 220px;
    position: relative;
    margin-top: 1.5rem;
    height: 250px;
}
.estilo-foto {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.foto_perfil {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 50px;
}
.contenedor-descrip {
    padding-top: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246/var(--tw-bg-opacity));
    -webkit-clip-path: ellipse(150% 100% at 50% 100%);
    clip-path: ellipse(150% 100% at 50% 100%);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .contenedor-descrip {
        -webkit-clip-path:ellipse(90% 100% at 50% 100%);
        clip-path: ellipse(90% 100% at 50% 100%)
    }
}
.descripcion {
    text-align: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .descripcion {
        margin-left: auto;
        margin-right: auto
    }
}
.titulo-descrip {
    --tw-text-opacity: 1;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    margin-top: 2rem;
}
.texto-descrip {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    margin-top: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300;    
    margin: 0; 
    margin-left: 20em;
    margin-right: 20em;
}
@media (max-width: 1200px) {
    .texto-descrip {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px) {
    .texto-descrip {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
.contenedor-link {
    background: linear-gradient(270deg,#374251 13%,#3c81f6);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0.5em;
    margin-top: 5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
}
.imagen-link {
    display: flex;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(191 219 254/var(--tw-border-opacity));
    padding: 0.5rem;
}
.link {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    grid-auto-flow: column dense;
    gap: 0.75rem;
}
.imagen-link img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 25px;
}
