* {
    color: inherit;
    box-sizing: border-box;
}
#body {
    width: 90%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}
h1 {
    font-size: 40px;
    font-family: eurostile,sans-serif;
}
.font-extrabold {
    font-weight: 800;
}
.text-cargo {
    font-family: europa,sans-serif;
    margin-top: 3em;
    background: linear-gradient(50deg,#374251 13%,#3c81f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-xl {
    font-size: 1.25rem;
}
.general-container {
    margin-left: 10em;
    margin-right: 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;
}
#foto_perfil {
    width: 210px;
    height: 270px;
    vertical-align: middle;
    padding: 0 0 0 1em;
    font-weight: 400;
    font-size: 0.8em;
    border-radius: 50px;
}
.text-base {
    font-weight: bold;
    color: #3c81f6;
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-contacto {
    font-weight: bold;
    color: #3c81f6;
    font-size: .900rem;
    line-height: 1.25rem;
    text-decoration: none;
    padding: 0.5em;
    padding-top: 1em;
    border-radius: 20px;
    border: 2px solid #3c81f6;
}
.fondo-descrip {
    padding-top: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246/var(--tw-bg-opacity));
    -webkit-clip-path: ellipse(150% 100% at 50% 100%);
    clip-path: ellipse(150% 100% at 50% 100%);
    margin-top: 5rem;
}
.text-center {
    text-align: center
}
.titulo-descrip {
    --tw-text-opacity: 1;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    
}
.texto-descrip {
    --tw-text-opacity: 1;
    color: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300;
    margin-top: 1.25rem;
    margin-left: 20em;
    margin-right: 20em;
}
#footer {
    background: linear-gradient(270deg,#374251 13%,#3c81f6);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0.5em;
}
#footer img {
    width: 3%;
    border-radius: 10px;
}
